/* wwwroot/css/DashboardStyles.css */

/* Responsiveness for the Dashboard */
@media (max-width: 1200px) {
    .dashboard-container{
        width: 95%;
        }
}

@media (max-width: 992px){
    .dashboard-container{
        width: 80%;
        margin: auto;
        padding: 3% 7%;
        }
}

@media (max-width: 768px){
    .dashboard-container{
        width: 90%;
        margin: auto;
        padding: 4% 7%;
        }
}
@media (max-width: 576px){
    .dashboard-container{
        width: 90%;
        margin: auto;
        padding: 4% 7%;
        }
}