/* wwwroot/css/slides.css */

/* Slider styles */

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-item {
    display: none;
    transition: opacity 0.6s ease-in-out;
}

.slider-item-active {
    display: block !important;
    opacity: 1;
}

.slider-item img {
    width: 100%;
}

.slide-text {
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: 5% 0;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.slider-nav {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Additional styles as needed */

